
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
        <p class="lead">The name <i>MⓞTracker</i> can be interpreted as a <i>movement
            tracker</i>. It was designed mostly to host realtime tracking of a
            motorcycle journeys in Vietnam, but grown up to be an universal tracking
            service.</p>
        <p>Software backbone is based on a useful <a href="https://github.com/cookiecutter-flask/cookiecutter-flask/i<Paste>">produce</a> of <a href="https://github.com/sloria/">Steven Loria</a> for use with the <a href="https://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="https://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
</div>
{% endblock %}

