
{% extends "layout.html" %}
{% block page_title %}Track {{ track_id }} map / moTracker{% endblock %}
{% block content %}
<script>
    var trackid = {{ track_id }};
    var realtime = 1;
</script>
    <div class="container-fluid">
        <ol class="breadcrumb bg-dark">
            <li class="breadcrumb-item active"><span class="badge badge-primary"><a href={{ url_for('user.userpage', username=username) }}>{{ username }}</a></span></li>
            <li class="breadcrumb-item">{{ device }}</li>
            <li class="breadcrumb-item">realtime</li>
        </ol>
        <div class="row">
            <div class="col-sm">
                <div id="gnssmap"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
